<body>

    <div>
        <div class="cout-insciption text-jaune text-banner container-flex-center ">
            20$ /personne 
        </div>
        <div class="text-jaune fontxx container-flex-center">
            * Inclus une consommation gratuite  (Bière, Seltzer, Gatorade, 🍾)
        </div>

           
        <div class="inscription text-jaune fontxxx container-flex-space-around">
            Inscrivez une équipe <br>au mini-tournoi

            <button class="app-button"
                onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSdozobBDom0xEnHtdhytoeNhfg9cixDU2jt9-vLCItE4JUbdQ/viewform?usp=sf_link')" 
                type="button">
                    Formulaire inscription mini-tournoi
            </button>

        </div>
        <div class="inscription text-jaune fontxxx container-flex-space-around">
            Inscrivez vous pour <br> partie libre
            <button 
            class="app-button"
                onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLScV_3ilQSqoN-eS8H7nAhp03AN8NKwExXK2M6oiU5jGGn5TZA/viewform?usp=sf_link')" 
                type="button">
                    Formulaire inscription partie libre
            </button>
           
        </div>
        <div class="text-jaune fontxx margin-top30px container-flex-center">
            ** Si vous vous inscrivez au tounoi vous n'avez pas à repayer pour la partie libre
        </div>
    </div>
</body>
