<body>
<div class="container-flex-banner">
    <div>
        <button
            mat-icon-button
            id="menu-button fontxxx"
            class="menu-button"
            (click)="clicMenu()"
            matTooltip="Ouvrir menu">

            <mat-icon>menu</mat-icon>
            <span class='title-menu fontxx'>
            Menu <br> 
            </span>
            <span>Inscription/ Détails</span>
        </button>
    </div>

    <!-- <h1>
        <img class="img-dekp9" src="../../assets/logo2.png" width="70" height="70">
         <div class=text-shadow>Évenement Dek Portneuf </div>­
        <img class="img-dekp9" src="../../assets/logo2.png" width="70" height="70"> 
    </h1> -->

    <div class="container-flex-banner-eve">
        <img class="img-dekp9" src="../../assets/logo2.png">
         <div class="text-jaune fontxx text-banner">Événement Dek Portneuf </div>­
        <img class="img2-dekp9" src="../../assets/logo2.png" > 
    </div>

</div>
</body>