<div class="text-jaune text-banner container-flex-center  margin-top4px">
    Horaire de l'événement
</div>

<ul>
<li class="text-jaune fontxxx container-flex-center margin-top4prc">10:00 - Pratiques libre</li>
<li class="text-jaune fontxxx container-flex-center margin-top15px">13:00 - Début des parties libres</li>
<li class="text-jaune fontxxx container-flex-center margin-top15px">15:00 - Parties Rookies pour celles qui n'ont jamais jouées</li>
<li class="text-jaune fontxxx container-flex-center margin-top15px">17:00 - Souper hot-dog et maïs en vente sur place</li>
<li class="text-jaune fontxxx container-flex-center margin-top15px">18:00 - Tirage des prix</li>
</ul>