

<div class="text-jaune fontxxx margin" >
    <p class="margin-top4prc">
        Questions:
    </p>


    <div class="fontxx margin-top10prc-cell">Q: Je n'ai pas équipement est-ce que je peux m'inscrire?</div>
    <div class="fontxx margin-reponse  ">R: Bien sur, indique le dans le formulaire d'inscription! 
        Essaie d'avoir le maximum de pièce d'équipement que tu peux emprunter: baton, gants, casque, etc. 
        Tu pourra emprunter ce qui te manque sur place.
        .
    </div>
    <div class="fontxx margin-top10prc-cell">Q: Je pense pas jouer au dek hockey est-ce que je peux venir quand même?  
    </div>
    <div class="fontxx margin-reponse  ">R: Bien sur! Tu pourra t'inscrire au tournois de fer et/ou mulkky sur place! 
    </div>
    <div class="fontxx margin-top10prc-cell">Q: J'amène les kids? 
    </div>
    <div class="fontxx margin-reponse ">R: Bien sur! Le conjoint aussi. Amène l'équipement pour les kids s'ils en ont,
         on pourra les faire jouer si le temps le permet!
    </div>


</div>
 

