



    <div class="text-jaune text-banner container-flex-center formule-tournoi">
        Formule mini-tournoi
    </div>
    <div class="text-jaune fontxx container-flex-center ">
        Se déroulera en début de journée
    </div>
    <div class="text-jaune fontxx container-flex-center ">
        Double élimination, 2 parties assurées
    </div>
    <div class="text-jaune fontxxx container-flex-center underline margin categorie">
        Catégories & restrictions 
    </div>
    <div class="text-jaune fontx container-flex-center ">
        ** Cote NBHPA
    </div>

    <div class="container-flex-evenly">
        <div>
            <div class="container-flex-center margin">
                <div class="text-jaune fontxx">FP:</div>
            </div>
            <div class="container-flex-center text-jaune fontxx">
                3 x W7 maximum  
            </div>
            <div class="container-flex-center text-jaune fontxx">
                 Goaleuse : W7 
            </div>
        </div>
        <div>
            <div class="container-flex-center margin">
                <div class="text-jaune fontxx" >FR+:</div>
            </div>
            <div class="container-flex-center text-jaune fontxx">
                2 x W6 maximum
            </div>
            <div class="container-flex-center text-jaune fontxx">
                Goaleuse : W6
            </div>
        </div>
    </div>

    <div class="text-jaune fontxxx container-flex-center underline margin cout">Coût</div>
    <div class="text-jaune fontxx container-flex-center">
        20$ /personne 
    </div>
    <div class="text-jaune fontxx container-flex-center">
        * Inclus une consommation gratuite  (Bière, Seltzer, Gatorade, 🍾)
    </div>
    <div class="text-jaune fontxx container-flex-center">
       
    </div>
    <div class="text-jaune fontxx container-flex-center">
        NB.: Si vous êtes inscrit au mini-tournoi vous pouvez venir jouer gratuitement en pm pour les parties libres!
    </div>

    