

<div class="text-jaune text-banner container-flex-center  margin-top4px">
    Formule parties libres
</div>

<div class="container-flex-center text-jaune margin-top30px fontx">Le bout juste pour le fun 🤗. On prend les filles, on sépare en 2 équipes et on s'amuse!!</div>
<div class="container-flex-center text-jaune margin-top15px fontx">Parties spéciales Rookies. Tu n'as jamais joué et tu voudrais essayer? Inscrit toi, match spécial pour recrue.</div>
<ul class="text-jaune margin-top30px fontx app-list">
    <li>Se déroulera en mi-journée après le mini-tournoi</li>
    <li>Il est possible de se présenter lors des parties libres sur le site et vous joindre à une équipe</li>
    <li>Vous pouvez venir en gang et le spécifier dans l'inscription si vous voulez jouer ensemble</li>
</ul>


<!-- <mat-list class= "container-flex-center">
    <mat-list-item role="listitem">
        <mat-icon class="app-icon" mat-list-icon>star</mat-icon>
        <div class="list-item " >Ce déroulera en mi-journée après le mini-tournoi</div>
    </mat-list-item>
    <mat-list-item role="listitem">
        <mat-icon class="app-icon" mat-list-icon>star</mat-icon>
        <div class="list-item " >Les équipes seront faites selon les personnes inscrites</div>
    </mat-list-item>
    <mat-list-item role="listitem">
        <mat-icon class="app-icon" mat-list-icon>star</mat-icon>
        <div class="list-item ">L'horraire des parties sera définie en fonction des inscriptions et calibre</div>
    </mat-list-item>
    <mat-list-item role="listitem">
        <mat-icon class="app-icon" mat-list-icon>star</mat-icon>
        <div class="list-item ">Ils est possible de ce présenter à toute heure sur le site et vous joindre à une équipe</div>
    </mat-list-item>
    <mat-list-item role="listitem">
        <mat-icon class="app-icon" mat-list-icon>star</mat-icon>
        <div class="list-item ">Vous pouvez venir en gang et le spécifier si vous voulez jouer ensemble</div>
    </mat-list-item>

</mat-list> -->


    <div class="text-jaune fontxxx container-flex-center underline cout-libre">Coût</div>
    <div class="text-jaune fontxx container-flex-center">
        20$ /personne 
    </div>
    <div class="text-jaune fontxx container-flex-center">
        * Inclus une consommation gratuite
    </div>
    <div class="text-jaune fontxx container-flex-center margin-top4px">
        NB.: Si vous êtes inscrit au mini-tournoi vous pouvez venir gratuitement en pm!
    </div>

    