


mat-sidenav{

    // background-color: rgb(255, 110, 0);
    background: linear-gradient(to right, #ffd91b, #ffd91b, #aacbe6);
    width: 259px;
    height: 100%;

}

mat-sidenav-container{
    margin:8px;
    position: inherit;
}


#menu-button{
    margin-left: 10px;
    width: inherit;
  }
  
  // .container-flex{
  //   display: flex;
  //   justify-content: space-between;
  // }

